<.header>
  Post {@post.id}
  <:actions>
    <.link href={~p"/posts/#{@post}/edit"}>
      <.button>Edit post</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Image">
    <img src={Instagram.Posts.Post.image_url(@post)} style="max-height: 80px; max-width: 100px;" />
  </:item>
  <:item title="Description">{@post.description}</:item>
</.list>

<.back navigate={~p"/users/#{@current_user.id}/posts"}>Back to posts</.back>
